// COLOR VARIABLES

$color-secondary: #00263e;
$color-blue-light-1: #e5f6fb;
$color-blue-dark-1: #b9d9eb;

$color-green-light-1: #cedc00;
$color-green-light-2: #93e3c0;
// FONT VARIABLES
$font-primary: "Flama Light", "Gravur Condensed", "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-display: "Gravur Condensed", "Flama Light", "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-rows: 6rem;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];

  @include atMedium {
    grid-template-rows: 1fr 60vh 20vh min-content 20vh;
    //grid-template-rows: 6rem;
  }
}
