.help-bar {
  grid-column: full-start / full-end;
  padding: 7rem;
  background-color: $color-green-light-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-content: center;
  cursor: pointer;

  &__text {
    grid-column: 3/8;
  }

  &__arrow-f {
    grid-column: 8/9;
    width: 5rem;
    height: 5rem;
    align-self: center;
  }
}
