.help-bar {
  grid-column: full-start / full-end;
  padding: 4rem 3rem;
  background-color: $color-green-light-1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  @include atMedium {
    padding: 7rem;
  }

  &__arrow-f {
    margin-left: 1rem;
    width: 10rem;
    height: 10rem;
    @include atMedium {
      width: 5rem;
      height: 5rem;
      margin-left: 10rem;
    }
  }
}
