.menu {
  grid-column: full-start / full-end;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.user {
  &__logo {
    width: 24rem;
    height: 12rem;
    object-fit: cover;
    cursor: pointer;
  }
}

.navigation {
  display: flex;
  list-style: none;
  text-transform: capitalize;
  &__link:link,
  &__link:visited {
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    color: $color-secondary;
    text-decoration: none;
    padding: 1.5rem 2.25rem;
    display: block;
    transition: all 0.2s;
  }

  &__link:hover {
    color: #fff;
    background-color: $color-secondary;
  }
}
